*{
    margin: 0%;
}
.tesla{
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-3-Desktop-US.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
.Icons>svg{
    height: 30px;
    width: 30px;

}
.logo{
    height: 30px;
    width: 150px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 70px;
    height: 90px;
    color: white;
}
.navbar>a{
    text-decoration: none;
    color: white;
    margin: 0px 10px;
    font-weight: bolder;
    font-weight: bold;
}
section{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 70px;
    line-height: 30px;
}
section>h1{
    font-size: 50px;
    margin: 5px 20px;
}
section>h3{
    display: inline;
    border-bottom: white solid 2px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: normal
}
footer>button{
    color: black;
    padding-left: 20px;
    padding-top: 4px;
    height: 40px;
    width: 250px;
    border: none;
    border-radius: 5px;
    margin: 0px 10px;

    
}
footer>#btn1{
    color: white;
    background-color: blue;
}
footer{
    margin-left: 500px;
    margin-top: 450px;
}
.tesla1{
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-Y-Desktop-US-v2.png);
    height:100vh;
    width: 100wh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.tesla1 section{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;
    padding-right: 50px;

    
}
#btn3{
    background-color: blue;
    color: white;
    
}